@import url(./__image/popup__image.css);
@import url(./__image-caption/popup__image-caption.css);
@import url(./__figure/popup__figure.css);
@import url(./__container/popup__container.css);
@import url(./__form-close/popup__form-close.css);
@import url(./__error/popup__error.css);
@import url(./__error/_visible/popup__error_visible.css);

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}
