.modal__form-x {
  font-size: 92px;
  transform: rotate(45deg);
  position: absolute;
  top: -175px;
  color: #fff;
  right: -65px;
  cursor: pointer;
  transition: opacity 2s linear;
}

.modal__form-x:hover {
  opacity: 0.6;
}

@media screen and (max-width: 644px) {
  .modal__form-x {
    font-size: 64px;
    top: -135px;
    right: -10px;
  }
}