@import url(./__container/profile__container.css);
@import url(./__image/profile__image.css);
@import url(./__container-text/profile__container-text.css);
@import url(./__container-icon/profile__container-icon.css);
@import url(./__title/profile__title.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__add-btn/profile__add-btn.css);

.profile {
  margin-top: 36.25px;
  margin-bottom: 46.25px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 879px) {
  .profile {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 680px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin: 42px auto 0;
  }
}