.profile__container-icon {
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 391px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s linear;
}

.profile__container-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 879px) {
  .profile__container-icon {
    position: relative;
    top: auto;
    width: 18px;
    height: 18px;
    left: auto;
  }
}

@media screen and (max-width: 580px) {
  .profile__container-icon {
    position: absolute;
    top: 30px;
    right: -30px;
  }
}