@import url(./__logo/header__logo.css);

.header {
  margin: auto;
  margin-top: 45px;
  padding-bottom: 41px;
}


@media screen and (max-width: 879px) {
  .header {
    width: 100%;
  }  
}