@import url(./__list/elements__list.css);
@import url(./__card/elements__card.css);
@import url(./__card-img/elements__card-img.css);
@import url(./__card-text/elements__card-text.css);
@import url(./__card-title/elements__card-title.css);
@import url(./__card-like/elements__card-like.css);
@import url(./__trash-btn/elements__trash-btn.css);

.elements {
  margin: 0;
  padding: 0;
  position: relative;
}

@media screen and (max-width: 899px) {
  .elements {
    margin: 0 auto;
    padding: 0 auto;
  }
}