.elements__trash-btn {
  background-image: url(../../../images/trash.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  transition: all 0.4s linear;
  width: 18px;
  height: 19.3px;
  position: absolute;
  right: 18px;
  top: 16px;
  cursor: pointer;
}

.elements__trash-btn:hover {
  opacity: 0.5;
}
