@import url(./__form/modal__form.css);
@import url(./__fields/modal__fields.css);
@import url(./__form-element/modal__form-element.css);
@import url(./__form-title/modal__form-title.css);
@import url(./__form-subtitle/modal__form-subtitle.css);
@import url(./__form-x/modal__form-x.css);
@import url(./__btn/form__btn.css);

.modal {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 580px) {
  .modal {
    width: 282px;
    height: 322px;
  }
}