@import url(./__form/modal__form.css);
@import url(./__fields/modal__fields.css);
@import url(./__title/modal__title.css);
@import url(./__form-element/modal__form-element.css);
@import url(./__form-close/modal__form-close.css);
@import url(./__btn/modal__btn.css);
@import url(./__btn/_disabled/modal__btn_disabled.css);
@import url(./__fields-input/modal__fields-input.css);

.modal {
  position: relative;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 644px) {
  .modal {
    width: 282px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .modal {
    width: 70%;
  }
}

@media screen and (max-width: 390px) {
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 353px) {
  .modal {
    width: 90%;
  }
}