.footer {
  font-family: 'Inter', Arial, sans-serif;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  margin-top: 68px;
  margin-bottom: 60px;
}

@media screen and (max-width: 879px) {
  .footer {
    max-width: 100%;
  }
}