.modal__form-close_type_image {
  right: -5px;
  top: -25px;
}

@media screen and (max-width: 644px) {
  .modal__form-close_type_image {
    background-image: url(../../../../images/close-icon-m.svg);
  }
}